@use '../utilidades/variables' as v;

/* Reset para móviles */
html, body {
    width: 100%;
    overflow-x: hidden; /* Bloquea desplazamiento horizontal */
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    width: 100%;
    max-width: 100%;
    padding: 0 15px; /* Ajusta según necesites */
}

/* Imágenes y elementos flexibles */
img, video, iframe {
    max-width: 100%;
    height: auto;
}