@use '../utilidades/variables' as v;

html, body {
    width: 100%;
    overflow-x: hidden !important; /* Bloquea desplazamiento horizontal */
    margin: 0;
    padding: 0;
    touch-action: pan-y; /* Desactiva zoom gestual */
    position: relative;
}

* {
    box-sizing: border-box; /* Evita que padding/margin rompan el ancho */
    max-width: 100%; /* Fuerza a los elementos a respetar el ancho */
    margin: 0;
    padding: 0;
}
