/** Fuentes **/

$Inter: 'Inter', sans-serif;
$Open-Sans: 'Open Sans', sans-serif;

/** Colores **/

$negro: #000000;
$negro-profundo: #1E1A1C;
$gris-carbon: #2A2628;
$gris-oscuro: #3C383A;
$blanco: #ffffff;
$blanco-humo: #F5F5F5;
$blanco-crema: #E0E0E0;
$blanco-crema-rosada: #FFDEDE;
$rojo: #CF0F47;
$rojo-claro: #FF0B55;

/** Tamaños **/

$telefono: 480px;
$tablet: 768px;
$laptop: 1140px;
$monitor: 1400px;